* {
    margin: 0;
    padding: 0;
}

#mainContainer {
    position: relative;
    /*border: 1px solid black;*/
    width: 98%;
    height: 89vh;
    margin: 10vh auto 0;
}

#start {
    position: absolute;
    display: block;
    text-align: center;
    font-size: 25px;
    width: 20%;
    height: 20%;
    left: 50%;
    margin-left: -10%;
    top: 50%;
    margin-top: -10%;
}

/*header div to contain score and goal objective*/
.menu {
    text-align: center;
    font-size: calc(20px + 0.8vw);
}
.menu-header {
    /*background-color: orange;*/
    height: 10%;
    position: relative;
}

.top-menu {
    display: flex;
    justify-content: space-between;
}

.objective {
    text-align: center;
}

/*spawn are div to control where the elements will spawn and move*/
#spawnArea {
    background-color: grey;
    position: relative;
    width: 100%;
    height: 80%;
    top: 2.5%;
}

.zergling {
    width: calc(50px + 4vw);
}

.death {
    width: calc(50px + 4vw)
}

/*div to display quit button*/
.quit-game {
    /*background-color: red;*/
    position: relative;
    height: 5%;
    top: 5%;
}


.game-over {
    margin: auto auto;
    text-align: center;
}
